<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movies</title>
    <link
      href="https://cdn.jsdelivr.net/npm/modern-normalize@3.0.1/modern-normalize.min.css"
      rel="stylesheet"
    />
    <!-- google font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/buyticket.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <!-- Logo Tickitz -->
        <div class="navbar-brand">
          <a href="/index.html">
            <img
              class="logo-color"
              src="/assets/tickets.svg"
              alt="logo-tickitz"
            />
          </a>
        </div>

        <!-- Nav menu in the middle -->
        <div class="navbar-menu">
          <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="#">Movie</a></li>
            <li><a href="#">Buy Ticket</a></li>
          </ul>
        </div>

        <!-- Auth Button in Right -->
        <div class="navbar-auth">
          <a href="./signin.html" class="btn btn-outline">Sign in</a>
          <a href="./signup.html" class="btn btn-primary">Sign Up</a>
        </div>

        <!-- Hamburger Menu for Mobile -->
        <div class="hamburger-menu" id="hamburger-menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </nav>
    </header>

    <main>
      <!--  footer -->
      <footer>
        <div class="footer-container">
          <section class="footer-section">
            <div class="logo">
              <img src="./assets/tickets.svg" alt="tickitz footer" />
            </div>
            <p class="tagline">
              Stop waiting in line. Buy tickets conveniently, watch movies
              quietly.
            </p>
          </section>

          <section class="footer-section">
            <h3>Explore</h3>
            <nav class="nav-links">
              <a href="#">Cinemas</a>
              <a href="#">Movies List</a>
              <a href="#">My Ticket</a>
              <a href="#">Notification</a>
            </nav>
          </section>

          <section class="footer-section">
            <h3>Our Sponsor</h3>
            <div class="sponsors">
              <div class="sponsor-logo">
                <img src="/assets/edu.svg" alt="ebu-id" />
              </div>
              <div class="sponsor-logo">
                <img src="./assets/cineone.svg" alt="cineone" />
              </div>
              <div class="sponsor-logo">
                <img src="./assets/hiflix.svg" alt="hiflix" />
              </div>
            </div>
          </section>

          <section class="footer-section">
            <h3>Follow us</h3>
            <div class="social-links">
              <a href="#" class="social-link">
                <img src="./assets/facebook.svg" alt="facebook" />
                Tickitz Cinema id
              </a>
              <a href="#" class="social-link">
                <img src="./assets/instagram.svg" alt="instagram" />
                tickitz.id
              </a>
              <a href="#" class="social-link">
                <img src="./assets/twitter.svg" alt="twitter" />
                tickitz.id
              </a>
              <a href="#" class="social-link">
                <img src="./assets/youtube.svg" alt="youtube" />
                Tickitz Cinema id
              </a>
            </div>
          </section>
        </div>
        <div class="copyright">© 2020 Tickitz. All Rights Reserved.</div>
      </footer>
    </main>
  </body>
</html>
